﻿@model BLL.ModelViews.TblPageMaster.Extend

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="/Scripts/app.js"></script>
<script src="/ckeditor/ckeditor.js"></script>
<script src="/ckeditor/adapters/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Description').ckeditor();
        var formMain = $("#form-main");
        $(formMain).validate();

        //$(formMain).submit(function () {
        //    // Validation Failed
        //    if (!$(formMain).valid()) { return false; }

        //    // Process Form
        //    var formButton = $("#btn-submit");
        //  //  UpdateRecord(formMain, formButton, 'PageMaster',null);
        //    return false;
        //});


    });
</script>

<h1> Page Master </h1>

<form action="/PageMaster/Post" method="POST" id="form-main">

    <div class="form-group">
        <label for="pagename">PageName</label>
        <input type="text" name="pagename" id="pagename" value="@Model.PageName" class="form-control required" />
    </div>

    <div class="form-group">
        <label for="pagetitle">PageTitle</label>
        <input type="text" name="pagetitle" id="pagetitle" value="@Model.PageTitle" class="form-control required" />
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        @*<input type="text" name="description" id="description" value="@Model.Description" class="form-control required" />*@
        <textarea id="Description" name="Description">@Model.Description</textarea>
    </div>

    <div class="form-group">
        <label for="metakeyword">Meta Keyword</label>
        <input type="text" name="metakeyword" id="metakeyword" value="@Model.MetaKeyword" class="form-control required" />
    </div>

    <div class="form-group">
        <label for="metadescription">Meta Description</label>
        <input type="text" name="metadescription" id="metadescription" value="@Model.MetaDescription" class="form-control required" />
    </div>

    <div class="form-group">
        <label for="displayorder">Display Order</label>
        <input type="text" name="displayorder" id="displayorder" value="@Model.DisplayOrder" class="form-control required" />
    </div>

    <div class="form-group">
        <label for="IsActive">Is Active</label><input type="checkbox" name="IsActive" value="true" @(Model.IsActive == true ? "checked" : "") />
    </div>

    <div class="form-group">
        <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
        <a href="/PageMaster" class="btn btn-success">Cancel</a>
         <input type="hidden" id="guid" name="guid" value="@Model.Guid" />
         <input type="hidden" id="id" name="id" value="@Model.ID" />
    </div>
</form>

