﻿@model List<BLL.ModelViews.TblPageMaster.Extend>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="/Scripts/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // -------------------------------------------
        $(".tr-delete").on("click", function () {
            DeleteRecordRemoveTr(this, 'PageMaster');
        });
        $('#example').DataTable();
        // -------------------------------------------
    });
</script>


<h1>Total Pages : @Model.Count</h1>

<div class="container_fix">
    <div class="panel panel-primary">
        <div class="panel-heading">PageMaster</div>
        <div class="panel-body">
            <form action="/" method="POST" id="form-main">
                <div class="form-group">
                    <a href="/PageMaster/Create" class="btn btn-default">New PageMaster</a>
                </div>

                <div class="table-fix">
                    <table id="example" class="table table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Delete</th>
                                <th>Edit</th>
                                <th>PageName</th>
                                <th>PageTitle</th>
                                <th>DisplayOrder</th>
                                <th>IsActive</th>
                            </tr>
                            @*<tr class="dataTable-input">
                               <th><input type="hidden" /></th>
                                <th><input type="hidden" /></th>

                                <th><input type="text" name="PageName" class="dataTable-search-int" /></th>
                                <th><input type="text" name="PageTitle" class="dataTable-search-int" /></th>
                                <th><input type="text" name="DisplayOrder" class="dataTable-search-int" /></th>
                                <th><input type="text" name="IsActive" class="dataTable-search-int" /></th>
                            </tr>*@

                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr data-id="@item.Guid">
                                    <td><a href="#" class="tr-delete"><i class="fa fa-trash-o"></i></a></td>
                                    <td><a href="/PageMaster/Details/@item.Guid"><i class="fa fa-pencil-square-o"></i></a></td>
                                    <td>@item.PageName</td>
                                    <td>@item.PageTitle</td>
                                    <td>@item.DisplayOrder</td>
                                    <td>@item.IsActive</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>