﻿body {
}



/* Validation
----------------------------------------------------------------------------------------------------*/
textarea,
input[type="text"].error,
input[type="password"].error,
input[type="datetime"].error,
input[type="datetime-local"].error,
input[type="date"].error,
input[type="month"].error,
input[type="time"].error,
input[type="week"].error,
input[type="number"].error,
input[type="email"].error,
input[type="url"].error,
input[type="search"].error,
input[type="tel"].error,
input[type="color"].error,
.uneditable-input {
    border: 1px solid #D60000;
    background-color: #ffffe0;
    margin-bottom: 3px;
}

label.error {
    color: #D60000;
}

label.error, span.error {
    color: #D60000;
    margin-left: 3px;
}

td.deleteTd {
    border: none;
    background-color: #f2dede !important;
    color: #b94a48;
    font-style: italic;
}

tr.deleteTr {
    border: none;
    border-color: #eed3d7 !important;
}

tr.alert > td,
tr.alert > th {
    background-color: #fcf8e3 !important;
}

th.th-icon {
    min-width: 50px !important;
}


.panel_padd {
    padding: 2%;
}


.ExportFields {
    padding: 2%;
    min-height: 20%;
    overflow: scroll;
}

.Navbar-fix {
    padding-top: 56px;
    padding-left: 25px;
}

.Errorspan {
    display: none;
    color: red;
}

.footer-fix {
    padding-bottom: 2%;
}

.loginform {
    margin-left: 20%;
    width: 60%;
}

.loginfooter {
    text-align: center;
}

.img-fix {
    margin-left: 1% !important;
    margin-top: 0.4%;
}

.table-fix {
    overflow-x: scroll;
}


/* treeview style */

#pgtitle {
    margin: 0px 0px 20px;
    font-size: 18pt;
    text-align: center;
}

a {
    cursor: pointer;
}

.tree {
    padding: 2%;
}

    .tree ul {
        list-style: none outside none;
    }

    .tree li p {
        line-height: 25px;
    }

.Treefirst {
    padding-left: 7%;
    line-height: 30px;
}

.TreetHover {
    background-color: white !important;
    color: #E56155 !important;
}

.treefix a {
    background-color: #E56155;
    color: white;
    text-decoration: none !important;
}

.Treesecond {
    padding-left: 7%;
    line-height: 28px;
    background-color: #E56155;
    color: white;
}

.Treethird {
    padding-left: 5%;
    line-height: 30px;
    background-color: #E56155;
    color: white;
}

.tree > ul > li > p {
    color: #3B4C56;
    display: block;
    font-weight: normal;
    position: relative;
    text-decoration: none;
}

.tree li.parent > p {
    padding: 0 0 0 28px;
}

    .tree li.parent > p:before {
        background-image: url("/images/plus_minus_icons.png");
        background-position: 25px center;
        content: "";
        display: block;
        height: 21px;
        left: 0;
        position: absolute;
        top: 2px;
        vertical-align: middle;
        width: 23px;
    }

.tree ul li.active > p:before {
    background-position: 0 center;
}

.tree ul li ul {
    border-left: 1px solid #D9DADB;
    display: none;
    margin: 0 0 0 12px;
    overflow: hidden;
    padding: 0 0 0 25px;
}

    .tree ul li ul li {
        position: relative;
    }

        .tree ul li ul li:before {
            border-bottom: 1px dashed #E2E2E3;
            content: "";
            left: -20px;
            position: absolute;
            top: 12px;
            width: 15px;
        }

.treefix {
    background-color: #E56155;
}



.img-fix {
    margin-left: 1% !important;
    margin-top: 0.4%;
}

.table-fix {
    overflow-x: scroll;
}

.head-logo {
    width: 100%;
    margin-top: 2%;
}

.head-li {
     margin-top: 2% !important;
}

.requireds{
    color:#ff0000;
}