﻿@model List<BLL.ModelViews.TblCategory.Extend>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <script type="text/javascript" src="/Scripts/app.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".tr-delete").on("click", function () {
                DeleteRecordRemoveTr(this, 'Category');
            });
            $('#example').DataTable();
        });
    </script>

    <h1>Total Category : @Model.Count</h1>

    <div class="container_fix">
        <div class="panel panel-primary">
            <div class="panel-heading">Category</div>
            <div class="panel-body">
                <form action="/" method="POST" id="form-main">
                    <div class="form-group">
                        <a href="/Category/Create" class="btn btn-default">New Category</a>
                    </div>
                    <div class="table-fix">
                        <table id="example" class="table table-striped table-bordered" cellspacing="0">
                            <thead>
                                <tr>
                                    <th width="40px;">Delete</th>
                                    <th width="40px;">Edit</th>
                                    <th width="400px;">CategoryName</th>
                                    <th>Description</th>
                                    <th width="40px;">IsActive</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr data-id="@item.Guid">
                                        <td><a href="#" class="tr-delete"><i class="fa fa-trash-o"></i></a></td>
                                        <td><a href="/Category/Details/@item.Guid"><i class="fa fa-pencil-square-o"></i></a></td>
                                        <td>@item.CategoryName</td>
                                        <td>@item.Description</td>
                                        <td>@item.IsActive</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>