﻿
@{
    ViewBag.Title = "Product";
    ViewBag.PageName = ViewBag.CategoryName;
    var lo_productdata = ViewBag.ProductData;
}
<style>
    .clear-rating {
        display: none !important;
    }
</style>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<link href="~/Content/star-rating.css" rel="stylesheet" />
<script src="~/Scripts/star-rating.js"></script>
<link href="~/Content/animate.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $(".caption").remove();

        $(".new-products #ProductList").each(function () {
            $(this).find('.item').first().addClass('active');
        });

        $('.carousel').carousel({
            interval: 3000,
            effect: "carousel-fade"
        });

        $('.carousel').carousel('cycle');
    });

    $(document).ready(function () {
        //$("#Rate").on("rating.change", function (event, value, caption) {
        //    var p_id = $(this).data("id");
        //    console.log($(this));
        //    console.log(p_id);
        //    $.ajax({
        //        type: 'GET',
        //        url: "/Category/StoreRatting/",
        //        data: { pid: p_id, rate: value },
        //        dataType: "json",
        //        success: function (resultData) {
        //            if (resultData == "false") {
        //                alert("You can not Rate! \n Because You already Rated.");
        //            }
        //            else {
        //                alert("Thanks For rate This Product!");
        //            }
        //        },
        //        error: function (resultData) { alert("Fail Rating") }
        //    });
        //});
    });

    function Checkaddr(id,div) {
        var p_val = $(div).val();
        console.log(div);

        $.ajax({
            type: 'GET',
            url: "/Category/StoreRatting/",
            data: { pid: id, rate: p_val },
            dataType: "json",
            success: function (resultData) {
                if (resultData == "false") {
                    alert("You can not Rate! \n Because You already Rated.");
                }
                else {
                    $(div).rating('refresh', { disabled: true, showClear: false, showCaption: true });
                }
            },
            error: function (resultData) { alert("Fail Rating") }
        });
        return false;
    }

    function modelpopup(pid) {
        $.ajax({
            type: 'GET',
            url: "/Category/ViewProduct/",
            data: { id: pid },
            dataType: "json",
            success: function (resultData) {
                $("#ProdName").html(resultData.Name);
                $("#ProdLongDesc").html(resultData.LongDesc);

                var images = resultData.ImageList[0];
                $('#ProdImageView').attr('src', images);

                var imgs = "";
                for (var i = 0; i < resultData.ImageList.length ; i++) {
                    imgs += '<img onclick="setImageView(this)" width="10%" src="' + resultData.ImageList[i] + '" alt="Not Found" />';
                }
                $("#ImageList").html(imgs);
                //BLL.Tools.Constants.URLS.COMAPNY_IMAGE_PATH/Product/Original/images[0]
            },
            error: function (resultData) { alert("Fail QuickView") }
        });

        // alert(id);
        $('#UserModalwithdraw').modal('show');
    }
</script>
<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
        margin: auto;
    }

    .carousel-fade .carousel-inner .item {
        transition-property: opacity;
    }

    .item,
    .active.left,
    .active.right {
        opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
        opacity: 1;
    }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
</style>
<section>
    <div class="container">
        <div class="products-title">
            <h2> @ViewBag.PageName  products  </h2>
        </div>
        <div class="new-products">
            @foreach (BLL.ModelViews.TblProduct.Extend item in lo_productdata)
            {
                var Rate = BLL.Queries.TblReview.GetRateById(item.ID);
                <div class="product" id="ProductList">
                    @{
                        if (item.Images != null)
                        {
                            string[] lo_productImagesList = item.Images != null ? item.Images.Split(',') : null;

                            if (lo_productImagesList.Count() == 1)
                            {
                                <a href="/Category/ProductDetails/@item.ID">
                                    <img src="@BLL.Tools.Constants.URLS.COMAPNY_IMAGE_PATH/Product/Thumbnail/@lo_productImagesList[0]" alt="@item.Name" />
                                </a>
                            }
                            else
                            {
                                <a href="/Category/ProductDetails/@item.ID">
                                    <div id="ImageList" class="carousel slide carousel-fade carousel-animate carousel-bg" data-ride="carousel">
                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            @foreach (var imageName in lo_productImagesList)
                                            {
                                                <div class="item">
                                                    <img src="@BLL.Tools.Constants.URLS.COMAPNY_IMAGE_PATH/Product/Thumbnail/@imageName" alt="" class="rotateInDownRight animated">
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </a>

                            }
                        }
                        else
                        {
                            <a href="/Category/ProductDetails/@item.ID">
                                <img src="" alt="@item.Name" />
                            </a>
                        }
                    }

                    <div class="details">
                        <div class="discription">
                            @if (item.Name != null)
                            {
                                <h3> @(item.Name.Length > 0 && item.Name.Length <= 35 ? item.Name : item.Name.Substring(0, 32) + "...") </h3>
                            }

                            @if (item.ShortDesc != null)
                            {
                                <p>
                                    @(item.ShortDesc.Length > 0 && item.ShortDesc.Length <= 95 ? item.ShortDesc : item.ShortDesc.Substring(0, 92) + "...")
                                </p>
                            }
                            @{
                                String ip = Request.ServerVariables["HTTP_X_FORWARDED_FOR"];
                                if (string.IsNullOrEmpty(ip))
                                {
                                    ip = Request.ServerVariables["REMOTE_ADDR"];
                                }
                                var r = BLL.Queries.TblReview.GetByIPAddress(ip, item.ID);
                                double rate = 0;
                                if (r != null)
                                {
                                    rate = r.Rating;
                                }
                            }
                            Give Your Rate : <input id="Rate_@item.ID" data-id="@item.ID" value="@rate" @(rate == 0 ? "" : "disabled") type="number" class="rating" data-symbol="*" min=0 max=5 step=0.1 data-size="xs" onchange="return Checkaddr(@item.ID,$(this))" />
                            Total Ratings:
                            <div>
                                <div style="float:left">
                                    <input id="MainRate" disabled="disabled" value="@Rate" type="number" class="rating" data-symbol="*" min=0 max=5 step=0.1 data-size="xs">
                                </div>
                                <div style="float:left;padding:10px 0px 0px 10px">
                                    @BLL.Queries.TblReview.GetTotalByID(item.ID) Ratings
                                </div>
                                <br style="clear:both" />
                            </div>
                        </div>
                    </div>
                </div>
                                }
        </div>
    </div>
</section>
@*start user create popup*@
<div class="modal fade" id="UserModalwithdraw" tabindex="-1" role="dialog" aria-labelledby="UserModalwithdrawLabel">
    @Html.Partial("~/Views/Shared/_ProductQuickView.cshtml")
</div>
@*end user create popup*@