﻿
@{
    ViewBag.Title = "ProductDetails";
    BLL.ModelViews.TblProduct.Extend lo_productdata = ViewBag.ProductData;
    String ip = Request.ServerVariables["HTTP_X_FORWARDED_FOR"];
    if (string.IsNullOrEmpty(ip))
    {
        ip = Request.ServerVariables["REMOTE_ADDR"];
    }
    var r = BLL.Queries.TblReview.GetByIPAddress(ip,lo_productdata.ID);
    double rate = 0;
    if(r != null)
    {
        rate = r.Rating;
    }
}
<link href="~/Content/jquery.fancybox-1.3.4.css" rel="stylesheet" />
<link href="~/Content/star-rating.css" rel="stylesheet" />
<script src="~/Scripts/star-rating.js"></script>
<script src="~/Scripts/jquery-1.11.0.min.js"></script>
<script>
    function setImageView(image) {
        $('#ViewImage').attr('src', image.src);
        $('#UserModalwithdraw').modal('show');
    }

    $(document).ready(function () {
        var p_id = $("#p_id").val();
        
        $("#Rate").on("rating.change", function (event, value, caption) {
            $.ajax({
                type: 'GET',
                url: "/Category/StoreRatting/",
                data: { pid: p_id, rate: value },
                dataType: "json",
                success: function (resultData) {
                },
                error: function (resultData) { alert("Fail Rating") }
            });
            $('.rating').rating('refresh', { disabled: true, showClear: false, showCaption: true });
        });
    });
</script>
<script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
<script src="~/Scripts/jquery.fancybox-1.3.4.pack.min.js"></script>
<script type="text/javascript">
    $(function ($) {
        var addToAll = false;
        var gallery = true;
        var titlePosition = 'inside';
        $(addToAll ? 'img' : 'img.fancybox').each(function () {
            var $this = $(this);
            var title = $this.attr('title');
            var src = $this.attr('data-big') || $this.attr('src');
            var a = $('<a href="#" class="fancybox"></a>').attr('href', src).attr('title', title);
            $this.wrap(a);
        });
        if (gallery)
            $('a.fancybox').attr('rel', 'fancyboxgallery');
        $('a.fancybox').fancybox({
            titlePosition: titlePosition
        });
    });
    $.noConflict(); 
</script>
<div class="container">
    <br />
    <div class="row">
        <div class="col-md-6">
            <img width="350" height="274" src="@lo_productdata.ImageList[0]" data-big="@lo_productdata.ImageList[0]" class="fancybox circular" alt="@lo_productdata.ImageList[0]" >            
             
        </div>
        <div class="col-md-6">
            <h1>@lo_productdata.Name</h1>
            <div>
                <p class="price"></p>
            </div>
            <div>
                <p>@lo_productdata.ShortDesc </p>
                <br /><br />
                Your Rate : <input id="Rate" value="@rate" @(rate == 0 ? "": "disabled") type="number" class="rating" data-symbol="*" min=0 max=5 step=0.1 />
            </div>
            </div>
        </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            @foreach (var item in lo_productdata.ImageList)
            {
                <img width="60" height="60" src="@item" data-big="@item" class="fancybox circular" alt="@item">
            }
        </div>


    </div>
        <input type="hidden" id="p_id" value="@lo_productdata.ID" />
        <br />

    </div>
<div class="container">
    <div>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#lngdescription">Description</a></li>
        
        </ul>
       
    </div>
</div>
<div class="container">
    <div class="tab-content">
        <div id="lngdescription" class="tab-pane fade in active">
            <br />
            <p>@lo_productdata.LongDesc </p>
            <br />
        </div>

    </div>

    </div>
    @*start user create popup*@
    <div class="modal fade" id="UserModalwithdraw" tabindex="-1" role="dialog" aria-labelledby="UserModalwithdrawLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="UserModalLabel">  WITHDRAWAL </h4>
                </div>

                <div class="modal-body">
                    <div class="panel-container">
                        <img id="ViewImage" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @*end user create popup*@
