﻿
@{
    ViewBag.Title = "Index";
    HttpCookie Cookie = Request.Cookies["ck_SiteRate"];

    
}

<script src="~/Scripts/jquery-1.11.0.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script src="~/Scripts/jquery-1.9.1.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>



<article>
    <div class="container">
        <div class="slider">
            <!--<img src="assets/images/slider_pic2.jpg">-->
            <iframe width="1140" height="400" src="http://www.youtube.com/embed/q3O6MZNTcYg?autohide=1&amp;autoplay=1&amp;controls=0&amp;fs=1&amp;loop=1&amp;modestbranding=0&amp;playlist=q3O6MZNTcYg&amp;rel=0&amp;showinfo=0&amp;theme=dark&amp;wmode=" frameborder="0" allowfullscreen="true"></iframe>
            <br />
        </div>
    </div>
</article>


<br />
<section>
    <div class="container">
        @*@{Html.RenderPartial("_Slider");}*@
        <iframe style="border:none;" src="/Home/Slider" scrolling="no" height="220" width="1180"></iframe> 
    </div>
</section>

<div class="modal fade" id="UserModalwithdraw" tabindex="-1" role="dialog" aria-labelledby="UserModalwithdrawLabel">
    @Html.Partial("~/Views/Shared/_SiteRate.cshtml")
</div>

@if (Request.Cookies["ck_SiteRate"] == null)
{ 
    <script>
            $(document).ready(function () {
                $('#UserModalwithdraw').modal('show');
            });
    </script>
}