﻿@model List<BLL.ModelViews.TblCompany.Extend>
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="/Scripts/app.js"></script>
<script>
    $(document).ready(function () {
        $(".tr-delete").on("click", function () {
            DeleteRecordRemoveTr(this, 'Company');
           // alert("Value :"+ this.valueOf())
        });
        $('#example').DataTable();
    });
</script>

<h1>Total Company : @Model.Count</h1>
<div class="container_fix">
    <div class="panel panel-primary">
        <div class="panel-heading">Company</div>
        <div class="panel-body">
            <form action="/" method="POST" id="form-main">
                <div class="form-group">
                    <a href="/Company/Create" class="btn btn-default">Create Company</a>
                </div>
                <div class="table-fix">
                    <table id="example" class="table table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="40px;">Delete</th>
                                <th width="40px;">Edit</th>
                                <th width="350px;">Company Name</th>
                                <th>Description</th>
                                <th width="110px;">Image</th>
                                <th width="60px;">Is Active</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr data-id="@item.Guid">
                                    <td><a href="#" class="tr-delete"><i class="fa fa-trash-o"></i></a></td>
                                    <td><a href="/Company/Details/@item.Guid"><i class="fa fa-pencil-square-o"></i></a></td>
                                    <td>@item.CompanyName</td>
                                    <td>@item.Description</td>
                                    <td><img src="~/Upload/CompanyLogo/Thumbnail/@item.Image" alt="Not Available" width="100px"/></td>
                                    <td>@item.IsActive</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>