﻿@{ 
    ViewBag.Title = "Product";
    BLL.ModelViews.TblCompany.Extend lo_companydata = ViewBag.CompanyData;
    ViewBag.PageName = lo_companydata.CompanyName;
    var lo_productdata = ViewBag.ProductData;
}

<style>
    .clear-rating {
        display: none !important;
    }
</style>

<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link href="~/Content/star-rating.css" rel="stylesheet" />
<script src="~/Scripts/star-rating.js"></script>
<script>
    $(document).ready(function () {
        $(".caption").remove();
    });
</script>

<script>
    function modelpopup(pid)
    {
        $.ajax({
            type: 'GET',
            url: "/Category/ViewProduct/",
            data: {id : pid},
            dataType: "json",
            success: function (resultData) {
                $("#ProdName").html(resultData.Name);
                $("#ProdLongDesc").html(resultData.LongDesc);

                var images = resultData.ImageList[0];
                $('#ProdImageView').attr('src', images);

                var imgs = "";
                for (var i = 0; i < resultData.ImageList.length ; i++) {
                    imgs += '<img onclick="setImageView(this)" width="10%" src="' + resultData.ImageList[i] + '" alt="Not Found" />';
                }
                $("#ImageList").html(imgs);
            //BLL.Tools.Constants.URLS.COMAPNY_IMAGE_PATH/Product/Original/images[0]
            },
            error: function(resultData) { alert("Fail QuickView") }
        });

       // alert(id);
        $('#UserModalwithdraw').modal('show');
    }
</script>

<section>

    <div class="container">
        <div class="products-title">
            <h2> @lo_companydata.CompanyName </h2>
        </div>
        <div class="new-products">

            @foreach (BLL.ModelViews.TblProduct.Extend item in lo_productdata)
            {
                var Rate = BLL.Queries.TblReview.GetRateById(item.ID);
                <div class="product">
                    @{
                        string[] lo_productImagesList = item.Images.Split(',');
                    }
                    <a href="/Category/ProductDetails/@item.ID"> <img src="@BLL.Tools.Constants.URLS.COMAPNY_IMAGE_PATH/Product/Thumbnail/@lo_productImagesList[0]" alt="@item.Name" /> </a>
                    <div class="details">
                        <div class="discription">
                            <h3> @(item.Name.Length > 0 && item.Name.Length <= 35 ? item.Name : item.Name.Substring(0, 32) + "...") </h3>
                            <p>
                                @(item.ShortDesc.Length > 0 && item.ShortDesc.Length <= 95 ? item.ShortDesc : item.ShortDesc.Substring(0, 92) + "...")
                            </p>
                        </div>
                        <input id="Rate" disabled="disabled" value="@Rate" type="number" class="rating" data-symbol="*" min=0 max=5 step=0.1 data-size="xs">
                        <div>
                            <a href="@(ViewBag.Id=item.ID)" onclick="modelpopup(@item.ID); return false;" class="button yith-wcqv-button"> QUICK VIEW</a>
                        </div>
                    </div>
                </div>
             }
        </div>
    </div>
</section>
@*start user create popup*@
<div class="modal fade" id="UserModalwithdraw" tabindex="-1" role="dialog" aria-labelledby="UserModalwithdrawLabel">
    @Html.Partial("~/Views/Shared/_ProductQuickView.cshtml")
</div>
@*end user create popup*@