﻿@{ 
   BLL.ModelViews.TblSetting.Extend contact = BLL.Queries.TblSetting.GetById(1);
}
<script>
        function SubmitMailData() {
           
            var formData = {
                'name': $('input[name=name]').val(),
                'email': $('input[name=email]').val(),
                'message': $('textarea[name=message]').val()
            };

            $.ajax({
                type: 'POST',
                url: "/Home/SendMail/",
                data: formData,
                dataType: "json",
                success: function (resultData) {
                    if (resultData = "Done")
                        alert("Send Successful!!");
                    else
                        alert("Message Sending Fail!!");
                },
                error: function () { alert("Message Sending Fail!!") }
            });
            $('input[name=name]').val("");
            $('input[name=email]').val("");
            $('textarea[name=message]').val("");
            return false;
        }
    
</script>

<div class="container">
    <div class="foot">
        <div class="find-us">
            <h2> Find us </h2>  
            <p class="address">@contact.Address</p>
            <p> @contact.Phone1 </p>
            <p> @contact.Phone2 </p>
            <p> @contact.Phone3 </p>
        </div>

        <div class="contact-info">
            <h2> CONTACT INFORMATION </h2>
            <form id="mailForm" action="" onsubmit="SubmitMailData(); return false" method="GET" >
                <p> Name : * <br> <input type="text" name="name" required> </p>
                <p style="float:left; margin-left:10%;"> Email : * <br> <input type="text" name="email" required> </p>

                <p style="margin-top:30px;" />  
                    Message : *
                <p class="message"><textarea name="message" style="width: 100%; height:90px;" required></textarea></p>
                <p>
                    <input type="submit" value="Send" />
                </p>
            </form>
        </div>
    </div>
</div><!--container-->

<div class="footer-bottom">
    <div class="container">
        <p> &copy;  @DateTime.Now.Year Hatia Arms. All Rights Reserved. </p>
    </div>
</div>