﻿@model BLL.ModelViews.TblProduct.Extend

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categoryList = BLL.Queries.TblCategory.GetActive();
    var companyList = BLL.Queries.TblCompany.GetActive();
}

<script type="text/javascript" src="/Scripts/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var formMain = $("#form-main");
        $(formMain).validate();

        $(formMain).submit(function () {
            // Validation Failed
            if (!$(formMain).valid()) { return false; }

            // Process Form
            var formButton = $("#btn-submit");
            //UpdateRecord(formMain, formButton, 'Product',null);
            //return false;
        });
    });
</script>

<h1> Product </h1>

<form action="/Product/Post" method="POST" id="form-main" enctype="multipart/form-data">
   
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="Name" id="Name" value="@Model.Name" class="form-control required" />
    </div>

    <div class="form-group">
        <label for="categoryid">CategoryID</label>
        <select name="CategoryID" id="CategoryID" required>
            <option value="" >-- Select Product Category type --</option>
            @foreach (var item in categoryList)
            {
                <option value="@item.ID"@(@Model.CategoryID == @item.ID ? "selected" : "" )> @item.CategoryName </option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="companyid">CompanyID</label>
        <select name="CompanyID" id="CompanyID" required>
            <option value="">-- Select Product Category type --</option>
            @foreach (var item in companyList)
            {
                <option value="@item.ID" @(@Model.CompanyID == @item.ID ? "selected" : "" )> @item.CompanyName </option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="Image">Image</label>
        <input type="file" name="ImageFile" id="ImageFile" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="Image">Image</label>
        <input type="file" name="ImageFile1" id="ImageFile2" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Image">Image</label>
        <input type="file" name="ImageFile2" id="ImageFile3" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Image">Pre-Image</label>
        <img src="~/Upload/Product/Original/@Model.Images" alt="Please Upload Product" />
    </div>


    <div class="form-group">
        <label for="shortdesc">ShortDesc</label>
        <input type="text" name="ShortDesc" id="ShortDesc" value="@Model.ShortDesc" class="form-control required" />
    </div>

    <div class="form-group">
        <label for="longdesc">LongDesc</label>
        <input type="text" name="LongDesc" id="longdesc" value="@Model.LongDesc" class="form-control required" />
    </div>

    <div class="form-group">
        <label for="IsActive">Is Active</label><input type="checkbox" name="IsActive" value="true" @(Model.IsActive == true ? "checked" : "") />
    </div>

    <div class="form-group">
        <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
        <a href="/product" class="btn btn-success">Cancel</a>
        <input type="hidden" id="Images" name="Images" value="@Model.Images" />
        <input type="hidden" id="guid" name="guid" value="@Model.Guid" />
        <input type="hidden" id="id" name="ID" value="@Model.ID" />
    </div>
</form>
