﻿@charset "utf-8";
/* CSS Document */

body {
	width:100%;
	margin:0 auto;
	padding:0;
}

.container {
	max-width:1140px; 
	width:100%;
	margin:0 auto;
}

/***************************
		Custom Style
***************************/
    .contact-right {
            float: right;
            border: 1px solid #fff;
            border-radius: 7px;
            background-color: #fff;
            padding: 12px;
            margin: 1% 3% 0% 0px;
            font-family: "Source Sans Pro", Helvetica, sans-serif;
        }
    

/***************************
		Header
***************************/

header {
	background:#1A5F8E none repeat scroll 0% 0%;
	overflow:hidden;
}
.logo {
	float:left;
	clear:both;
	padding:5px 0;
}

.link {
	padding-top:68px;
}
.link ul {
	margin:0 auto;
}

.link ul li {
	list-style-type:square;
	display:inline-block;
	padding:0 5px;
}

.link ul li a {
	color:#fff;
	text-decoration:none;
	font-family:arial;
	font-size:14px;
}
.link ul li a:hover {
	color:#EF873E;
	text-decoration:none;
}


/******************************
		Navbar
******************************/

nav {
	width:100%;
	background-color: #00537A;
border-bottom: 3px solid #EF873E;
}

.navigation {
	margin:0 auto;
	overflow:hidden;
}

.navigation ul {
	margin:0;
	padding:0;
	width:70%;
	float:left;	
}

.navigation ul li {
	list-style-type:none;
	display:inline-block;
	padding: 30px 0;
}

.navigation ul li a {
	text-decoration:none;
	color:#fff;
	font-size:15px;
	text-transform:uppercase;
	font-family:arial;
	padding:32px 20px;
}

.navigation ul li .active,
.navigation ul li a:hover {
	background:#EF873E none repeat scroll 0% 0%;
	color:#fff;
}

.search {
	float:right;
	margin-top:15px;
}

.search .input {
	margin:0 auto;
	color:#3a3a3a;
/*	border:1px solid #aaaaaa;*/
	width:85%;
	float:left;
	color:#3a3a3a; 
}

.search .search-icon a {
	background:#EF873E;
	width:15%;
	float:right;
	height: 43px;
    padding-top:5px;
	text-align:center;
}
.search .search-icon img {
	padding:5px;
}
.search .search-icon a:hover {
	background:#3a3a3a;
	transition:all 0.3s ease-in-out;
}
/**************************
		Slider
***************************/

article {
	background:#000000;
}

.slider {
	margin:0 auto;
}
.slider img {
	width:100%;
}

.webwidget_slideshow_dot .title_thumb_box {
	display:none;	
}

/***************************
	New Products
***************************/

.products-title {
	width:100%;
	background:#3a3a3a;
	margin:30px 0;
}
.products-title h2 {
 	color: #fff;
    font-family: arial;
    font-size: 20px;
    font-weight: normal;
    padding: 15px 10px;
    text-transform: uppercase;
	margin:0;
}

.new-products {
	width:100%;
	overflow:hidden;
}

.new-products .product {
	width:31%;
	float:left;
	border: 3px #EF873E solid;
	margin:0% 1%;
	text-align:center;
	margin-bottom:4%;
    height:540px;
}
.new-products .product img {
	width:100%;
    height:250px;
}

.new-products .product img:hover {
	opacity:0.5;
	transition:all 0.5s ease-in-out;
}

.new-products .product .details {
	margin:0 auto;
	width:100%;
}

.new-products .product .details .price {
	width:30%;
	background:#b09542;
	font-family:arial;
	color:#fff;
	font-size:18px;
	padding:10px 20px;
}
.new-products .product .details .price p {
	margin:0 ;
	padding:0;
	font-size:16px;
}
.new-products .product .details .discription {
	text-align:left;
	font-family:arial;
	padding:0 5px;
}
.new-products .product .details .discription h3 {
	font-weight:normal;
	font-size:18px;	
	padding:22px 0 15px 0;
	margin:0;
}
.new-products .product .details .discription p {
	font-size:13px;
	margin:0;
	font-weight: lighter;
	padding-bottom:30px;
}

.see-all-btn {
	background:#3a3a3a;
	padding:15px 0;
	width:13%;
	text-align:center;
	margin-bottom:40px;
	transition:all 0.3s ease;
}
.see-all-btn:hover {
	background:#b09542;
	transition:all 0.3s ease-in-out;
}

.see-all-btn a {
	color:#fff;
	text-decoration:none;
	 padding: 15px 40px;
	text-transform:uppercase;
	font-family:arial;
}

/********************************
		Featured product
********************************/

.featured-porduct {
	width:100%;
}

.featured-porduct .fet-product {
	width:24%;
	display:inline-block;
	border:1px solid #b09542;
	margin:0 6px 45px 0;
	text-align:center;
}
.featured-porduct .fet-product img {
	padding-top:10px;
	width:100%;
}

.featured-porduct .fet-product img:hover {
	opacity:0.5;
	transition:all 0.5s ease-in-out;
}

.featured-porduct .fet-product .details {
	margin:0 auto;
	width:100%;
}

.featured-porduct .fet-product .details .discription {
	text-align:left;
	font-family:arial;
	padding:0 10px;
}
.featured-porduct .fet-product .details .discription h3 {
	font-weight:normal;
	font-size:18px;	
	padding:22px 0 15px 0;
	margin:0;
}
.featured-porduct .fet-product .details .discription p {
	font-size:13px;
	margin:0;
	font-weight: lighter;
	padding-bottom:20px;
}
.featured-porduct .fet-product .details .price {
	font-family:arial;
	color:#000;
	font-size:18px;
}
.featured-porduct .fet-product .details .price p {
	font-size:18px;
	padding-bottom:10px;
}

.featured-porduct .fet-product .details .discription .add-to-cart {
	margin:20px auto 20px;
}
/*.featured-porduct .fet-product .details .discription .add-to-cart button,*/
.featured-porduct .fet-product .details .discription .add-to-cart a {
	background:#b09452;
	border:0;
	padding:10px 20px;
	color:#fff;
	font-size:18px;
	font-family:arial;
	text-decoration:none;
	transition:all 0.3s ease;
}

.featured-porduct .fet-product .details .discription .add-to-cart a:hover {
	background:#3a3a3a;
	transition:all 0.3s ease-in-out;
}

/*****************************
		About-content
*****************************/

.about-content {
	width:100%;
}
.about-content .content {
	width:31%;
	float:left;
	margin-left:25px;
}
.about-content .content h1 {
	font-size:24px;
	text-transform:uppercase;
	color:#3a3a3a;
	font-family:arial;
	font-weight:normal;
	border-bottom:2px solid #b09542;
	padding-bottom:15px;
}
.about-content .content .sale-product {
	width:100%;
	margin:0 auto;
	margin-top:45px;
	overflow:hidden;
}
.about-content .content .sale-product .left-content {
	float:left;
	width:40%;
}
.about-content .content .sale-product .left-content img {
	width:100%;
	max-width:140px;
	height:105px;
}
.about-content .content .sale-product .left-content img:hover {
	opacity:0.3;
	transition:all 0.2s ease-in-out;
}

.about-content .content .sale-product .right-content {
	margin:0;
 	padding-left: 5%;
    width: 55%;
	float:left;
}

.about-content .content .sale-product .right-content h4 {
    font-family: arial;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
.about-content .content .sale-product .right-content .rating {
	margin:10px 0 5px;
}
.about-content .content .sale-product .right-content p {
	margin:0;
	color:#b09542;
	font-size:20px;
	padding-top:15px;
}


.about-content .content p {
   font-family: arial;
    font-size: 14px;
    font-weight: lighter;
    margin: 0;
    padding-top: 20px;
	line-height:20px;
}

section {
	overflow:hidden;
}
/****************************
		footer
****************************/

footer {
	width:100%;
	background:#f1f2f4;
	margin-top:35px;
	overflow:hidden;
}
.foot {
	width:100%;
	overflow: hidden;
    margin-bottom:20px;	
}
.foot .find-us {
    float: left;
    margin-left: 2%;
    width: 35%;
}

.foot .find-us h2,
.foot .contact-info h2 {
	font-family:arial;
	font-size:18px;
	border-bottom:2px solid #b09452;
	padding-bottom:10px;
	text-transform:uppercase;
	font-weight:normal;
}
.foot .find-us .address {
	font-size:14px;
	font-family:arial;
	font-weight:lighter;
	padding-top:10px;
}
.foot .find-us p {
	font-size:14px;
	font-family:arial;
	font-weight:lighter;
	color:#3a3a3a;
}

.foot .contact-info {
	float:left;
	width:60%;
	margin-left:2%;
}
.foot .contact-info p {
	margin:0;
	font-family:arial;
	font-weight:lighter;
	padding:5px 0;
	width:40%;
	float:left;
}
.foot .contact-info input {
	width:100%;
	border:1px solid #b09452;
	padding:5px;
	background:transparent;
}
.foot .contact-info .message {
	width:92%;
	/*border:1px solid #b09452;*/
	min-height:75px;
}

.footer-bottom {
	width:100%;
	background:#1a5f8e;	
}
.footer-bottom p {
	margin:0;
	padding:15px 0; 
	font-family:Arial;
	font-size:12px;
	color:#fff;
}

.foot .contact-info textarea {
border: 1px solid #B09452;
background: transparent none repeat scroll 0% 0%;

}
/*@media only screen and  (max-width : 1024px) {
	.about-content .content {
		width:45%;
	}
	.featured-porduct .fet-product {
		width:29%;
		margin:0 auto 5% 3%;
	}
}

@media only screen and  (max-width : 882px) {
	.logo {
		float:none;
		text-align:center;	
	}
	.link {
		float: none;
		margin: 0 auto;
		padding: 0 0 50px;
		text-align: center;
		width: 100%;	
	}
	
	.navigation {
		width:100%;
	} 
	.navigation ul {
		width:100%;
		margin:0 auto;
	} 
	
	.navigation .search {
		float: none;
		margin: 15% auto 5%;
		padding-bottom: 4%;
		text-align: center;
		width:35%;
	}	
	.new-products .product img {
		width:100%;
	}
	.new-products .product {
		width:45%;
		margin:20px auto 0 3%;
	}
}

@media only screen and  (max-width : 800px) {
	.navigation .search {
		width:39%;
	}
}

@media only screen and  (max-width : 768px) {
	.logo {
		float:none;
		text-align:center;	
	}
	.link {
		float: none;
		margin: 0 auto;
		padding: 0 0 50px;
		text-align: center;
		width: 100%;	
	}
	
	.navigation {
		width:100%;
	} 
	.navigation ul {
		width:100%;
		margin:0 auto;
	} 
	.navigation .search {
		float: none;
		margin: 15% auto 5%;
		padding-bottom: 4%;
		text-align: center;
		width: 41%;
	} 
	.new-products .product .details .price p {
		font-size:16px;
	}
	.about-content .content {
		width:45%;
	}
	.featured-porduct .fet-product {
		width:45%;
		margin:0 auto 5% 3%;
	}
	
}

@media only screen and (max-width : 480px) {
	.new-products .product {
		margin:0 auto 5%;
		float:none; 
		width:70%;
	}
	.new-products .product .details .price {
		font-size: 17px;
		padding: 10px 0;
		width: 100%;	
	}
	.see-all-btn {
		width:30%;
		margin:0 auto;
	}
	.see-all-btn a {
		padding:0;
	}
	.featured-porduct .fet-product {
		width:70%;
		margin:0 auto 5%;
		display:block;
	}
	.about-content .content {
		margin: 0 auto 0 5%;
		width: 90%;
	}
	.footer-bottom p {
		text-align:center;
	}
	.foot .find-us {
		width:90%;
		margin:0 auto;
		margin-left:5%
	}
	
	.foot .contact-info {
  	float: left;
    margin-left: 5%;
    width: 90%;
	}
}
*/