﻿@model BLL.ModelViews.TblCompany.Extend
@{
    ViewBag.Title = "Details";
}
<script type="text/javascript" src="/Scripts/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var formMain = $("#form-main");
        $(formMain).validate();
        $(formMain).submit(function () {
            // Validation Failed
            if (!$(formMain).valid()) { return false; }

            // Process Form
            var formButton = $("#btn-submit");
            //UpdateRecord(formMain, formButton, 'Company', null);
            //return false;
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#selectedimg').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#Image").change(function () {
            readURL(this);
        });
    });
</script>
<div class="container_fix">
    <div class="panel panel-primary">
        <div class="panel-heading">Company Details</div>
        <div class="panel-body">
            <form action="/Company/Post" method="POST" id="form-main" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="CompanyName">CompanyName</label>
                    <input type="text" name="CompanyName" id="CompanyName" value="@Model.CompanyName" class="form-control required" />
                </div>

                <div class="form-group">
                    <label for="Description">Description</label>
                    <input type="text" name="Description" id="Description" value="@Model.Description" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Image">Image</label>
                    <input type="file" name="ImageFile" id="Image" class="form-control" />
                    <img src="#" width="100px" height="100px" id="selectedimg" alt="No Logo Selected" />
                </div>
                <hr style="border-color:black;" />
                <div  class="form-group">
                    <label for="Image">Pre-Image</label>
                    <img id="preimg" src="~/Upload/CompanyLogo/Original/@Model.Image" alt="Please Upload Company Logo" width="100px" height="100px" />
                </div>
                <div class="form-group">
                     <label for="IsActive">Is Active</label><input type="checkbox" name="IsActive" value="true" @(Model.IsActive == true ? "checked": "") />
                </div>
                <div class="form-group">
                    <button id="btn-submit" type="submit" class="btn btn-success">Submit</button>
                    <a href="/Company" class="btn btn-success">Cancel</a>
                    <input type="hidden" id="Image" name="Image" value="@Model.Image" />
                    <input type="hidden" id="guid" name="guid" value="@Model.Guid" />
                    <input type="hidden" id="id" name="id" value="@Model.ID" />
                </div>
            </form>
        </div>
    </div>
</div>