﻿@model List<BLL.ModelViews.TblProduct.Extend>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <script type="text/javascript" src="/Scripts/app.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".tr-delete").on("click", function () {
                DeleteRecordRemoveTr(this, 'Product');
            });
            $('#example').DataTable();
        });
    </script>

    <h1>Total Products : @Model.Count</h1>

    <div class="container_fix">
        <div class="panel panel-primary">
            <div class="panel-heading">Product</div>
            <div class="panel-body">
                <form action="/" method="POST" id="form-main">
                    <div class="form-group">
                        <a href="/Product/Create" class="btn btn-default">New Product</a>
                    </div>

                    <div class="table-fix">
                        <table id="example" class="table table-striped table-bordered" cellspacing="0">
                            <thead>
                                <tr>
                                    <th width="40px">Delete</th>
                                    <th width="40px">Edit</th>
                                    <th>Name</th>
                                    <th width="100px">CategoryID</th>
                                    <th width="100px">Images</th>
                                    <th width="100px">Ratting</th>
                                    <th width="40px">IsActive</th>
                                </tr>

                                @*<tr class="dataTable-input">
                                    <th><input type="hidden" /></th>
                                    <th><input type="hidden" /></th>

                                    <th><input type="text" name="Name" class="dataTable-search-int" /></th>
                                    <th><input type="text" name="CategoryID" class="dataTable-search-int" /></th>
                                    <th><input type="text" name="Images" class="dataTable-search-int" /></th>
                                    <th><input type="text" name="Ratting" class="dataTable-search-int" /></th>
                                    <th><input type="text" name="IsActive" class="dataTable-search-int" /></th>
                                </tr>*@

                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    string strimg = @item.Images;
                                    string[] imgarr = null;
                                    imgarr = strimg != null ? strimg.Split(',') : null;
                                    <tr data-id="@item.Guid">
                                        <td><a href="#" class="tr-delete"><i class="fa fa-trash-o"></i></a></td>
                                        <td><a href="/Product/Details/@item.Guid"><i class="fa fa-pencil-square-o"></i></a></td>

                                        <td>@item.Name</td>
                                        <td>@item.CategoryID</td>
                                        @*<td>@item.CompanyID</td>*@
                                        <td>
                                            <img src="@(imgarr !=null ? "/Upload/Product/Thumbnail/" + imgarr[0] : "")" alt="Not Available" style="width:100px;height:100px" />
                                        </td>
                                        @*<td>@item.ShortDesc</td>
                                            <td>@item.LongDesc</td>*@
                                        <td>@item.Ratting</td>
                                        <td>@item.IsActive</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
