﻿@model BLL.ModelViews.TblReview.Extend
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="/Scripts/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var formMain = $("#form-main");
        $(formMain).validate();

        $(formMain).submit(function () {
            // Validation Failed
            if (!$(formMain).valid()) { return false; }

            // Process Form
            var formButton = $("#btn-submit");
            UpdateRecord(formMain, formButton, 'Review',null);
            return false;
        });
    });
</script>

<h1> TblReview </h1>

<form action="/" method="POST" id="form-main">

    @*<div class="form-group">
        <label for="id">ID</label>
        <input type="text" name="id" id="id" value="@Model.ID" class="form-control required" />
    </div>

    <div class="form-group">
        <label for="guid">Guid</label>
        <input type="text" name="guid" id="guid" value="@Model.Guid" class="form-control required" />
    </div>*@

    @*<div class="form-group">
        <label for="product_id">Product_Id</label>
        <input type="text" name="product_id" id="product_id" value="@Model.Product_Id" class="form-control required" />
    </div>*@

    <div class="form-group">
        <label for="username">UserName</label>
        <input type="text" name="username" id="username" value="@Model.UserName" class="form-control required" />
    </div>

    <div class="form-group">
        <label for="useremail">UserEmail</label>
        <input type="text" name="useremail" id="useremail" value="@Model.UserEmail" class="form-control required" />
    </div>

    <div class="form-group">
        <label for="rating">Rating</label>
        <input type="text" name="rating" id="rating" value="@Model.Rating" class="form-control required" />
    </div>

    <div class="form-group">
        <label for="review">Review</label>
        <input type="text" name="review" id="review" value="@Model.Review" class="form-control required" />
    </div>
    <div class="form-group">
        <label for="IsActive">Is Active</label><input type="checkbox" name="isActive" value="true" @(Model.IsActive == true ? "checked" : "") />
    </div>

    @*<div class="form-group">
        <label for="isactive">IsActive</label>
        <input type="text" name="isactive" id="isactive" value="@Model.IsActive" class="form-control required" />
    </div>

    <div class="form-group">
        <label for="isdeleted">IsDeleted</label>
        <input type="text" name="isdeleted" id="isdeleted" value="@Model.IsDeleted" class="form-control required" />
    </div>*@

    @*<div class="form-group">
        <label for="createddate">CreatedDate</label>
        <input type="text" name="createddate" id="createddate" value="@Model.CreatedDate" class="form-control required" />
    </div>*@

    @*<div class="form-group">
        <label for="updateddate">UpdatedDate</label>
        <input type="text" name="updateddate" id="updateddate" value="@Model.UpdatedDate" class="form-control required" />
    </div>*@
    <div class="form-group">
        <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
        <input type="hidden" id="guid" name="guid" value="@Model.Guid" />
        <input type="hidden" id="id" name="id" value="@Model.ID" />
    </div>
</form>
