﻿@model List<BLL.ModelViews.TblReview.Extend>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="/Scripts/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        // -------------------------------------------
        $(".tr-delete").on("click", function () {
            DeleteRecordRemoveTr(this, 'Review');
        });
        // -------------------------------------------
        $('#example').DataTable();
    });
</script>
<h1>Total Review :  @Model.Count</h1>

<div class="container_fix">
    <div class="panel panel-primary">
        <div class="panel-heading">Company</div>
        <div class="panel-body">
            <form action="/" method="POST" id="form-main">
                @*<div class="form-group">
                    <a href="/Review/Create" class="btn btn-default">Create Company</a>
                </div>*@

                <div class="table-fix">
                    <table id="example" class="table table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="40px">Delete</th>
                                <th width="40px">Edit</th>
                                <th width="40px">ID</th>
                                <th width="70px">ProductId</th>
                                <th width="150px">UserEmail</th>
                                <th width="40px">Rating</th>
                                <th>Review</th>
                                <th width="40px">IsActive</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr data-id="@item.Guid">
                                    <td><a href="#" class="tr-delete"><i class="fa fa-trash-o"></i></a></td>
                                    <td><a href="/Review/Details/@item.Guid"><i class="fa fa-pencil-square-o"></i></a></td>
                                    <td>@item.ID</td>
                                    <td>@item.Product_Id</td>
                                    <td>@item.UserEmail</td>
                                    <td>@item.Rating</td>
                                    <td>@item.Review</td>
                                    <td>@item.IsActive</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>