﻿ 
<ul class="pagination">
   @* <li><a href="/Account">Account</a> </li>
    <li><a href="/Role">Role</a> </li>
    <li><a href="/AccountRole">AccountRole</a> </li>
    <li><a href="/TrackingLog">TrackingLog</a> </li>
    <li><a href="/ExceptionLog">ExceptionLog</a> </li>*@
  @*  <li> @SessionConfig.ClientId.ToString() </li>*@
   @* <li><a href="/Coach">Coach</a> </li>
    <li><a href="/SiteFeature">Site Feature</a> </li>
    <li><a href="/Point">Point Controller</a> </li>
    <li><a href="/Alert">Alert</a> </li>
    <li><a href="/AlertSpecific">Alert to Specific</a> </li>
    <li><a href="/NewsLetter">News Letter</a> </li>
    <li><a href="/Player">Player</a> </li>*@
    </ul>
    <div class="paginationn">
    <div style="float:left;"><p>© 2016 - HatiaArms. All rights reserved</p></div>
    <div style="float:right;"><p>Developed by:<a href="http://www.webbyinfotech.com">Webbyinfotech</a></p></div>


</div>