﻿

<nav class="navbar navbar-inverse">

    <div class="container" style="margin-left:-2%;">


        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<a class="navbar-brand" href="#"></a>*@
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <div class="row" style="margin-left:0px;">

                <ul class="nav navbar-nav">
                    <li>
                        <div class="head-logo img-fix">
                            <a href="/"><img src="~/images/logo1.png" /></a>
                        </div>
                    </li>
                    @*<li class="head-li dropdown @(ViewBag.PageName == "Home" ? "active" : "")"><a href="/Home">Home</a></li>*@
                    <li class="head-li dropdown @(ViewBag.PageName == "Company" ? "active" : "")"><a href="/Company">Company</a></li>
                    <li class="head-li dropdown @(ViewBag.PageName == "PageMaster" ? "active" : "")"><a href="/PageMaster">Page Master</a></li>
                    <li class="head-li dropdown @(ViewBag.PageName == "Category" ? "active" : "")"><a href="/Category">Category</a></li>
                    <li class="head-li dropdown @(ViewBag.PageName == "Product" ? "active" : "")"><a href="/Product">Product</a></li>
                    <li class="head-li dropdown @(ViewBag.PageName == "Product" ? "active" : "")"><a href="/Setting">Contect Setting</a></li>
                    @*<li class="head-li dropdown @(ViewBag.PageName == "Review" ? "active" : "")"><a href="/Review">Review</a></li>*@
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li class="head-li dropdown @(ViewBag.PageName == "User" ? "active" : "")">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Login/ChangePassword">Change Password</a></li>
                            <li><a href="/Login/Logout">Logout</a></li>
                        </ul>
                    </li>

                    @{
                        <li class="head-li"><a href="#">Hello :  @Session["adminModel"]</a></li>
                    }
                </ul>




            </div>
        </div>
    </div>
</nav>