﻿@model  BLL.ModelViews.TblPageMaster.Extend
@{
    ViewBag.Title = "Page";
}
<style>
    body {
        font-family:"Source Sans Pro", Helvetica, sans-serif;
    }
</style>
<div class="container">
    @Html.Raw(Model.Description)
</div>