﻿@model BLL.ModelViews.TblCategory.Extend
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="/Scripts/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var formMain = $("#form-main");
        $(formMain).validate();

        $(formMain).submit(function () {
            // Validation Failed
            if (!$(formMain).valid()) { return false; }
            // Process Form
            var formButton = $("#btn-submit");
            UpdateRecord(formMain, formButton, 'Category',null);
            return false;
        });
    });
</script>

<h1> Add New Category </h1>
<form action="/" method="POST" id="form-main">
    <div class="form-group">
        <label for="categoryname">CategoryName</label>
        <input type="text" name="categoryname" id="categoryname" value="@Model.CategoryName" class="form-control required" />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" id="description" value="@Model.Description" class="form-control required" />
    </div>
    <div class="form-group">
        <label for="IsActive">Is Active</label><input type="checkbox" name="IsActive" value="true" @(Model.IsActive == true ? "checked" : "") />
    </div>
    <div class="form-group">
        <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
        <a href="/Category" class="btn btn-success">Cancel</a>
        <input type="hidden" id="guid" name="guid" value="@Model.Guid" />
        <input type="hidden" id="ID" name="ID" value="@Model.ID" />
    </div>
</form>