@model BLL.ModelViews.TblCategory.Extend

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="/Scripts/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        
        var formMain = $("#form-main");
        $(formMain).validate();

        $(formMain).submit(function () {
            // Validation Failed
            if (!$(formMain).valid()) { return false; }

            // Process Form
            var formButton = $("#btn-submit");
            UpdateRecord(formMain, formButton, 'TblCategory');    
            return false;
        });


    });
</script>

<h1> TblCategory </h1>

<form action="/" method="POST" id="form-main">

        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" name="id" id="id" value="@Model.ID" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="guid">Guid</label>
            <input type="text" name="guid" id="guid" value="@Model.Guid" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="categoryname">CategoryName</label>
            <input type="text" name="categoryname" id="categoryname" value="@Model.CategoryName" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" name="description" id="description" value="@Model.Description" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="isactive">IsActive</label>
            <input type="text" name="isactive" id="isactive" value="@Model.IsActive" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="isdeleted">IsDeleted</label>
            <input type="text" name="isdeleted" id="isdeleted" value="@Model.IsDeleted" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="createddate">CreatedDate</label>
            <input type="text" name="createddate" id="createddate" value="@Model.CreatedDate" class="form-control required" />
        </div>


 
 
     <div class="form-group">
         <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
         <input type="hidden" id="guid" name="guid" value="@Model.Guid" />
		  <input type="hidden" id="id" name="id" value="@Model.ID" />
     </div>
</form>
