@model BLL.ModelViews.TblLogin.Extend

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="/Scripts/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        
        var formMain = $("#form-main");
        $(formMain).validate();

        $(formMain).submit(function () {
            // Validation Failed
            if (!$(formMain).valid()) { return false; }

            // Process Form
            var formButton = $("#btn-submit");
            UpdateRecord(formMain, formButton, 'TblLogin');    
            return false;
        });


    });
</script>

<h1> TblLogin </h1>

<form action="/" method="POST" id="form-main">

        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" name="id" id="id" value="@Model.ID" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" value="@Model.Username" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" name="password" id="password" value="@Model.Password" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="createddate">CreatedDate</label>
            <input type="text" name="createddate" id="createddate" value="@Model.CreatedDate" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="updateddate">UpdatedDate</label>
            <input type="text" name="updateddate" id="updateddate" value="@Model.UpdatedDate" class="form-control required" />
        </div>


 
 
     <div class="form-group">
         <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
         <input type="hidden" id="guid" name="guid" value="@Model.Guid" />
		  <input type="hidden" id="id" name="id" value="@Model.ID" />
     </div>
</form>
