﻿@model BLL.ModelViews.TblLogin.Extend

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_ChangePassword.cshtml";
}




<script type="text/javascript" src="/Scripts/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        
        var formMain = $("#form-main");
        $(formMain).validate();

        $(formMain).submit(function () {
            // Validation Failed
            if (!$(formMain).valid()) { return false; }

            // Process Form
            var formButton = $("#btn-submit");
            UpdateRecordChangePassword(formMain, formButton, 'Login', null);
            return false;
        });

        $(document).ready(function () {
            $("#struserrenewpassword").keyup(checkPasswordMatch);
            $('#btn-submit').attr('disabled', true);
        });
        function checkPasswordMatch() {
            var password = $("#NewPassword").val();
            var confirmPassword = $("#struserrenewpassword").val();

            if (password != confirmPassword) {
                $("#divCheckPasswordMatch").html("Passwords do not match!");
                $('#btn-submit').attr('disabled', true);
            }
            else {
                $("#divCheckPasswordMatch").html("Passwords match.");
                $('#btn-submit').attr('disabled', false);
            }
        }

    });
</script>

<h2>ChangePassword</h2>

<form action="/" method="POST" id="form-main">

        <div class="form-group">
            <label for="strusername">UserName</label>
            <input type="text" name="Username" id="Username" value="@Model.Username" class="form-control required" readonly />
        </div>

     <div class="form-group">
            <label for="struserpassword">Old Password</label>
         <input type="password" name="Password" id="Password" value="@Model.Password" class="form-control required" />
        </div>
        <div class="form-group">
            <label for="strnewpassword"> New Password</label>
            <input type="password" name="NewPassword" id="NewPassword" value="@Model.NewPassword" class="form-control required" />
        </div>
    <div class="form-group">
            <label for="strusernewpassword">Retype New Password</label>
            <input type="password" name="struserrenewpassword" id="struserrenewpassword" value="@Model.NewPassword" onChange="checkPasswordMatch();" class="form-control required" />
        </div>
    <div class="registrationFormAlert" id="divCheckPasswordMatch"></div>
     <div class="form-group">
      
         <input type="hidden" id="nadmid" name="ID" value="@Model.ID" />
         <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
        
     </div>
</form>

