﻿@model BLL.ModelViews.TblLogin.Extend

@{
    ViewBag.Title = "Login HatiaArms";
    Layout = "~/Views/Shared/_AdminLoginLayout.cshtml";
}

<script type="text/javascript" src="/Scripts/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var formMain = $("#form-main");
        $(formMain).validate();

        $(formMain).submit(function () {
            // Validation Failed
            if (!$(formMain).valid()) { return false; }

            // Process Form
            var formButton = $("#btn-submit");
            UpdateRecord(formMain, formButton, 'Login', null);
            return false;
        });


    });
</script>



<div class="panel panel-default loginform">

    <div class="panel-body">
        <h2>Admin Login</h2><hr />


        <form action="/" method="POST" id="form-main">

            <div class="form-group">
                <label for="stusername"> UserName</label>
                <input type="text" name="Username" id="Username" value="@Model.Username" class="form-control required" />
            </div>

            <div class="form-group">
                <label for="stpassword"> Password</label>
                <input type="password" name="Password" id="Password" value="@Model.Password" class="form-control required" />
            </div>

            <div class="form-group">
                <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>

                <input type="hidden" id="ID" name="ID" value="@Model.ID" />
            </div>
        </form>
        </div>
</div>