﻿@model BLL.ModelViews.TblSetting.Extend

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] mobileNo = Model.Phones != null ? Model.Phones.Split(new string[] {"|^|"},StringSplitOptions.None) : null;
}

<script type="text/javascript" src="/Scripts/app.js"></script>
<script type="text/javascript">
    function merger() {
        var data = $("#phones1").val() + "," + $("#phones2").val() + "," + $("#phones3").val();
        $("#phones").val(data);
    }

    $(document).ready(function () {

        var formMain = $("#form-main");
        $(formMain).validate();

        $(formMain).submit(function () {
            // Validation Failed
            if (!$(formMain).valid()) { return false; }

            // Process Form
            var formButton = $("#btn-submit");
            UpdateRecord(formMain, formButton, 'Setting', null);
            return false;
        });


    });
</script>

<h1> TblSetting </h1>

<form action="/" method="POST" id="form-main">

    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" name="address" id="address" value="@Model.Address" class="form-control required" />
    </div>

    <div class="form-group">
        <label for="phone1">Phone1</label>
        <input type="text" name="phone1" id="phone1" value="@Model.Phone1" class="form-control required" />
    </div>

    <div class="form-group">
        <label for="phone2">Phone2</label>
        <input type="text" name="phone2" id="phone2" value="@Model.Phone2" class="form-control required" />
    </div>

    <div class="form-group">
        <label for="phone3">Phone3</label>
        <input type="text" name="phone3" id="phone3" value="@Model.Phone3" class="form-control required" />
    </div>

    <div class="form-group">
        <label for="phones">Header Phones</label>
        @if (mobileNo != null)
        {
            <input type="text" name="phones1" id="phones1" onblur="merger()" value="@mobileNo[0]" class="form-control required" />
            <input type="text" name="phones1" id="phones2" onblur="merger()" value="@mobileNo[1]" class="form-control " />
            <input type="text" name="phones1" id="phones3" onblur="merger()" value="@mobileNo[2]" class="form-control " />
        }
        else
        {
            <input type="text" name="phones1" id="phones1" onblur="merger()" value="" class="form-control required" />
            <input type="text" name="phones1" id="phones2" onblur="merger()" value="" class="form-control " />
            <input type="text" name="phones1" id="phones3" onblur="merger()" value="" class="form-control " />
        }
    </div>




    <div class="form-group">
        <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
        <input type="hidden" id="phones" name="phones" value="@Model.Phones" />
        <input type="hidden" id="id" name="id" value="@Model.ID" />
    </div>
</form>
