
<ul class="nav nav-pills">
<li><a href="/TblCategory">TblCategory</a></li>
<li><a href="/TblCompany">TblCompany</a></li>
<li><a href="/TblLogin">TblLogin</a></li>
<li><a href="/TblPageMaster">TblPageMaster</a></li>
<li><a href="/TblProduct">TblProduct</a></li>
<li><a href="/TblReview">TblReview</a></li>
<li><a href="/TblSetting">TblSetting</a></li>
</ul>
