@model List<BLL.ModelViews.TblCompany.Extend>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="/Scripts/app.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

        // -------------------------------------------
        $(".tr-delete").on("click", function() {
            DeleteRecordRemoveTr(this, 'TblCompany');
        });

        // -------------------------------------------
        

    });
</script>


<h1> @Model.Count TblCompany </h1>

<form action="/" method="POST" id="form-main">


<a href="/TblCompany/Create" class="btn btn-success">New TblCompany</a>


<table class="table table-striped dataTable">
    <thead>
        <tr>
            <th>trash</th>
            <th>link</th>
            <th>ID</th>  
            <th>Guid</th>  
            <th>CompanyName</th>  
            <th>Description</th>  
            <th>Image</th>  
            <th>IsActive</th>  
            <th>IsDeleted</th>  
            <th>CreatedDate</th>  
            
        </tr>


        <tr class="dataTable-input">
            <th><input type="hidden" /></th>
            <th><input type="hidden" /></th>


            <th><input type="text" name="ID" class="dataTable-search-int"/></th>  
            <th><input type="text" name="Guid" class="dataTable-search-int"/></th>  
            <th><input type="text" name="CompanyName" class="dataTable-search-int"/></th>  
            <th><input type="text" name="Description" class="dataTable-search-int"/></th>  
            <th><input type="text" name="Image" class="dataTable-search-int"/></th>  
            <th><input type="text" name="IsActive" class="dataTable-search-int"/></th>  
            <th><input type="text" name="IsDeleted" class="dataTable-search-int"/></th>  
            <th><input type="text" name="CreatedDate" class="dataTable-search-int"/></th>  

            
        </tr>

    </thead>
    <tbody>
                @foreach (var item in Model)
        {
            <tr data-id="@item.Guid">
                <td><a href="#" class="tr-delete"><i class="fa fa-trash-o"></i></a></td>
                <td><a href="/TblCompany/@item.Guid">Link to detail</a></td>    

                <td>@item.ID</td>  
                <td>@item.Guid</td>  
                <td>@item.CompanyName</td>  
                <td>@item.Description</td>  
                <td>@item.Image</td>  
                <td>@item.IsActive</td>  
                <td>@item.IsDeleted</td>  
                <td>@item.CreatedDate</td>  
                
            </tr>
        }
    </tbody>
</table>


</form>
