@model List<BLL.ModelViews.TblLogin.Extend>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="/Scripts/app.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

        // -------------------------------------------
        $(".tr-delete").on("click", function() {
            DeleteRecordRemoveTr(this, 'TblLogin');
        });

        // -------------------------------------------
        

    });
</script>


<h1> @Model.Count TblLogin </h1>

<form action="/" method="POST" id="form-main">


<a href="/TblLogin/Create" class="btn btn-success">New TblLogin</a>


<table class="table table-striped dataTable">
    <thead>
        <tr>
            <th>trash</th>
            <th>link</th>
            <th>ID</th>  
            <th>Username</th>  
            <th>Password</th>  
            <th>CreatedDate</th>  
            <th>UpdatedDate</th>  
            
        </tr>


        <tr class="dataTable-input">
            <th><input type="hidden" /></th>
            <th><input type="hidden" /></th>


            <th><input type="text" name="ID" class="dataTable-search-int"/></th>  
            <th><input type="text" name="Username" class="dataTable-search-int"/></th>  
            <th><input type="text" name="Password" class="dataTable-search-int"/></th>  
            <th><input type="text" name="CreatedDate" class="dataTable-search-int"/></th>  
            <th><input type="text" name="UpdatedDate" class="dataTable-search-int"/></th>  

            
        </tr>

    </thead>
    <tbody>
                @foreach (var item in Model)
        {
            <tr data-id="@item.Guid">
                <td><a href="#" class="tr-delete"><i class="fa fa-trash-o"></i></a></td>
                <td><a href="/TblLogin/@item.Guid">Link to detail</a></td>    

                <td>@item.ID</td>  
                <td>@item.Username</td>  
                <td>@item.Password</td>  
                <td>@item.CreatedDate</td>  
                <td>@item.UpdatedDate</td>  
                
            </tr>
        }
    </tbody>
</table>


</form>
