@model BLL.ModelViews.TblProduct.Extend

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="/Scripts/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        
        var formMain = $("#form-main");
        $(formMain).validate();

        $(formMain).submit(function () {
            // Validation Failed
            if (!$(formMain).valid()) { return false; }

            // Process Form
            var formButton = $("#btn-submit");
            UpdateRecord(formMain, formButton, 'TblProduct');    
            return false;
        });


    });
</script>

<h1> TblProduct </h1>

<form action="/" method="POST" id="form-main">

        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" name="id" id="id" value="@Model.ID" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="guid">Guid</label>
            <input type="text" name="guid" id="guid" value="@Model.Guid" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="@Model.Name" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="categoryid">CategoryID</label>
            <input type="text" name="categoryid" id="categoryid" value="@Model.CategoryID" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="companyid">CompanyID</label>
            <input type="text" name="companyid" id="companyid" value="@Model.CompanyID" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="images">Images</label>
            <input type="text" name="images" id="images" value="@Model.Images" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="shortdesc">ShortDesc</label>
            <input type="text" name="shortdesc" id="shortdesc" value="@Model.ShortDesc" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="longdesc">LongDesc</label>
            <input type="text" name="longdesc" id="longdesc" value="@Model.LongDesc" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="ratting">Ratting</label>
            <input type="text" name="ratting" id="ratting" value="@Model.Ratting" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="isactive">IsActive</label>
            <input type="text" name="isactive" id="isactive" value="@Model.IsActive" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="isdeleted">IsDeleted</label>
            <input type="text" name="isdeleted" id="isdeleted" value="@Model.IsDeleted" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="createddate">CreatedDate</label>
            <input type="text" name="createddate" id="createddate" value="@Model.CreatedDate" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="updateddate">UpdatedDate</label>
            <input type="text" name="updateddate" id="updateddate" value="@Model.UpdatedDate" class="form-control required" />
        </div>


 
 
     <div class="form-group">
         <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
         <input type="hidden" id="guid" name="guid" value="@Model.Guid" />
		  <input type="hidden" id="id" name="id" value="@Model.ID" />
     </div>
</form>
