@model List<BLL.ModelViews.TblProduct.Extend>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="/Scripts/app.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

        // -------------------------------------------
        $(".tr-delete").on("click", function() {
            DeleteRecordRemoveTr(this, 'TblProduct');
        });

        // -------------------------------------------
        

    });
</script>


<h1> @Model.Count TblProduct </h1>

<form action="/" method="POST" id="form-main">


<a href="/TblProduct/Create" class="btn btn-success">New TblProduct</a>


<table class="table table-striped dataTable">
    <thead>
        <tr>
            <th>trash</th>
            <th>link</th>
            <th>ID</th>  
            <th>Guid</th>  
            <th>Name</th>  
            <th>CategoryID</th>  
            <th>CompanyID</th>  
            <th>Images</th>  
            <th>ShortDesc</th>  
            <th>LongDesc</th>  
            <th>Ratting</th>  
            <th>IsActive</th>  
            <th>IsDeleted</th>  
            <th>CreatedDate</th>  
            <th>UpdatedDate</th>  
            
        </tr>


        <tr class="dataTable-input">
            <th><input type="hidden" /></th>
            <th><input type="hidden" /></th>


            <th><input type="text" name="ID" class="dataTable-search-int"/></th>  
            <th><input type="text" name="Guid" class="dataTable-search-int"/></th>  
            <th><input type="text" name="Name" class="dataTable-search-int"/></th>  
            <th><input type="text" name="CategoryID" class="dataTable-search-int"/></th>  
            <th><input type="text" name="CompanyID" class="dataTable-search-int"/></th>  
            <th><input type="text" name="Images" class="dataTable-search-int"/></th>  
            <th><input type="text" name="ShortDesc" class="dataTable-search-int"/></th>  
            <th><input type="text" name="LongDesc" class="dataTable-search-int"/></th>  
            <th><input type="text" name="Ratting" class="dataTable-search-int"/></th>  
            <th><input type="text" name="IsActive" class="dataTable-search-int"/></th>  
            <th><input type="text" name="IsDeleted" class="dataTable-search-int"/></th>  
            <th><input type="text" name="CreatedDate" class="dataTable-search-int"/></th>  
            <th><input type="text" name="UpdatedDate" class="dataTable-search-int"/></th>  

            
        </tr>

    </thead>
    <tbody>
                @foreach (var item in Model)
        {
            <tr data-id="@item.Guid">
                <td><a href="#" class="tr-delete"><i class="fa fa-trash-o"></i></a></td>
                <td><a href="/TblProduct/@item.Guid">Link to detail</a></td>    

                <td>@item.ID</td>  
                <td>@item.Guid</td>  
                <td>@item.Name</td>  
                <td>@item.CategoryID</td>  
                <td>@item.CompanyID</td>  
                <td>@item.Images</td>  
                <td>@item.ShortDesc</td>  
                <td>@item.LongDesc</td>  
                <td>@item.Ratting</td>  
                <td>@item.IsActive</td>  
                <td>@item.IsDeleted</td>  
                <td>@item.CreatedDate</td>  
                <td>@item.UpdatedDate</td>  
                
            </tr>
        }
    </tbody>
</table>


</form>
