@model BLL.ModelViews.TblPageMaster.Extend

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="/Scripts/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        
        var formMain = $("#form-main");
        $(formMain).validate();

        $(formMain).submit(function () {
            // Validation Failed
            if (!$(formMain).valid()) { return false; }

            // Process Form
            var formButton = $("#btn-submit");
            UpdateRecord(formMain, formButton, 'TblPageMaster');    
            return false;
        });


    });
</script>

<h1> TblPageMaster </h1>

<form action="/" method="POST" id="form-main">

        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" name="id" id="id" value="@Model.ID" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="guid">Guid</label>
            <input type="text" name="guid" id="guid" value="@Model.Guid" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="pagename">PageName</label>
            <input type="text" name="pagename" id="pagename" value="@Model.PageName" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="pagetitle">PageTitle</label>
            <input type="text" name="pagetitle" id="pagetitle" value="@Model.PageTitle" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" name="description" id="description" value="@Model.Description" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="metakeyword">MetaKeyword</label>
            <input type="text" name="metakeyword" id="metakeyword" value="@Model.MetaKeyword" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="metadescription">MetaDescription</label>
            <input type="text" name="metadescription" id="metadescription" value="@Model.MetaDescription" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="displayorder">DisplayOrder</label>
            <input type="text" name="displayorder" id="displayorder" value="@Model.DisplayOrder" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="isactive">IsActive</label>
            <input type="text" name="isactive" id="isactive" value="@Model.IsActive" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="isdeleted">IsDeleted</label>
            <input type="text" name="isdeleted" id="isdeleted" value="@Model.IsDeleted" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="createddate">CreatedDate</label>
            <input type="text" name="createddate" id="createddate" value="@Model.CreatedDate" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="updateddate">UpdatedDate</label>
            <input type="text" name="updateddate" id="updateddate" value="@Model.UpdatedDate" class="form-control required" />
        </div>


 
 
     <div class="form-group">
         <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
         <input type="hidden" id="guid" name="guid" value="@Model.Guid" />
		  <input type="hidden" id="id" name="id" value="@Model.ID" />
     </div>
</form>
