@model List<BLL.ModelViews.TblReview.Extend>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="/Scripts/app.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

        // -------------------------------------------
        $(".tr-delete").on("click", function() {
            DeleteRecordRemoveTr(this, 'TblReview');
        });

        // -------------------------------------------
        

    });
</script>


<h1> @Model.Count TblReview </h1>

<form action="/" method="POST" id="form-main">


<a href="/TblReview/Create" class="btn btn-success">New TblReview</a>


<table class="table table-striped dataTable">
    <thead>
        <tr>
            <th>trash</th>
            <th>link</th>
            <th>ID</th>  
            <th>Guid</th>  
            <th>Product_Id</th>  
            <th>UserName</th>  
            <th>UserEmail</th>  
            <th>Rating</th>  
            <th>Review</th>  
            <th>IsActive</th>  
            <th>IsDeleted</th>  
            <th>CreatedDate</th>  
            <th>UpdatedDate</th>  
            
        </tr>


        <tr class="dataTable-input">
            <th><input type="hidden" /></th>
            <th><input type="hidden" /></th>


            <th><input type="text" name="ID" class="dataTable-search-int"/></th>  
            <th><input type="text" name="Guid" class="dataTable-search-int"/></th>  
            <th><input type="text" name="Product_Id" class="dataTable-search-int"/></th>  
            <th><input type="text" name="UserName" class="dataTable-search-int"/></th>  
            <th><input type="text" name="UserEmail" class="dataTable-search-int"/></th>  
            <th><input type="text" name="Rating" class="dataTable-search-int"/></th>  
            <th><input type="text" name="Review" class="dataTable-search-int"/></th>  
            <th><input type="text" name="IsActive" class="dataTable-search-int"/></th>  
            <th><input type="text" name="IsDeleted" class="dataTable-search-int"/></th>  
            <th><input type="text" name="CreatedDate" class="dataTable-search-int"/></th>  
            <th><input type="text" name="UpdatedDate" class="dataTable-search-int"/></th>  

            
        </tr>

    </thead>
    <tbody>
                @foreach (var item in Model)
        {
            <tr data-id="@item.Guid">
                <td><a href="#" class="tr-delete"><i class="fa fa-trash-o"></i></a></td>
                <td><a href="/TblReview/@item.Guid">Link to detail</a></td>    

                <td>@item.ID</td>  
                <td>@item.Guid</td>  
                <td>@item.Product_Id</td>  
                <td>@item.UserName</td>  
                <td>@item.UserEmail</td>  
                <td>@item.Rating</td>  
                <td>@item.Review</td>  
                <td>@item.IsActive</td>  
                <td>@item.IsDeleted</td>  
                <td>@item.CreatedDate</td>  
                <td>@item.UpdatedDate</td>  
                
            </tr>
        }
    </tbody>
</table>


</form>
