@model List<BLL.ModelViews.TblSetting.Extend>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="/Scripts/app.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

        // -------------------------------------------
        $(".tr-delete").on("click", function() {
            DeleteRecordRemoveTr(this, 'TblSetting');
        });

        // -------------------------------------------
        

    });
</script>


<h1> @Model.Count TblSetting </h1>

<form action="/" method="POST" id="form-main">


<a href="/TblSetting/Create" class="btn btn-success">New TblSetting</a>


<table class="table table-striped dataTable">
    <thead>
        <tr>
            <th>trash</th>
            <th>link</th>
            <th>ID</th>  
            <th>Address</th>  
            <th>Phone1</th>  
            <th>Phone2</th>  
            <th>Phone3</th>  
            <th>Phones</th>  
            <th>CreatedDate</th>  
            
        </tr>


        <tr class="dataTable-input">
            <th><input type="hidden" /></th>
            <th><input type="hidden" /></th>


            <th><input type="text" name="ID" class="dataTable-search-int"/></th>  
            <th><input type="text" name="Address" class="dataTable-search-int"/></th>  
            <th><input type="text" name="Phone1" class="dataTable-search-int"/></th>  
            <th><input type="text" name="Phone2" class="dataTable-search-int"/></th>  
            <th><input type="text" name="Phone3" class="dataTable-search-int"/></th>  
            <th><input type="text" name="Phones" class="dataTable-search-int"/></th>  
            <th><input type="text" name="CreatedDate" class="dataTable-search-int"/></th>  

            
        </tr>

    </thead>
    <tbody>
                @foreach (var item in Model)
        {
            <tr data-id="@item.Guid">
                <td><a href="#" class="tr-delete"><i class="fa fa-trash-o"></i></a></td>
                <td><a href="/TblSetting/@item.Guid">Link to detail</a></td>    

                <td>@item.ID</td>  
                <td>@item.Address</td>  
                <td>@item.Phone1</td>  
                <td>@item.Phone2</td>  
                <td>@item.Phone3</td>  
                <td>@item.Phones</td>  
                <td>@item.CreatedDate</td>  
                
            </tr>
        }
    </tbody>
</table>


</form>
