@model BLL.ModelViews.TblSetting.Extend

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="/Scripts/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        
        var formMain = $("#form-main");
        $(formMain).validate();

        $(formMain).submit(function () {
            // Validation Failed
            if (!$(formMain).valid()) { return false; }

            // Process Form
            var formButton = $("#btn-submit");
            UpdateRecord(formMain, formButton, 'TblSetting');    
            return false;
        });


    });
</script>

<h1> TblSetting </h1>

<form action="/" method="POST" id="form-main">

        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" name="id" id="id" value="@Model.ID" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" name="address" id="address" value="@Model.Address" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="phone1">Phone1</label>
            <input type="text" name="phone1" id="phone1" value="@Model.Phone1" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="phone2">Phone2</label>
            <input type="text" name="phone2" id="phone2" value="@Model.Phone2" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="phone3">Phone3</label>
            <input type="text" name="phone3" id="phone3" value="@Model.Phone3" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="phones">Phones</label>
            <input type="text" name="phones" id="phones" value="@Model.Phones" class="form-control required" />
        </div>

        <div class="form-group">
            <label for="createddate">CreatedDate</label>
            <input type="text" name="createddate" id="createddate" value="@Model.CreatedDate" class="form-control required" />
        </div>


 
 
     <div class="form-group">
         <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
         <input type="hidden" id="guid" name="guid" value="@Model.Guid" />
		  <input type="hidden" id="id" name="id" value="@Model.ID" />
     </div>
</form>
