﻿@{ 
   List<BLL.ModelViews.TblCategory.Extend> category = BLL.Queries.TblCategory.GetActive();
}
<script>
    function setSearchURL() {
        
        var url = "/Category/ProductSearch/?Search=" + $('#Search').val();
        $('#SearchURL').attr('href', url);
    }
</script>
<div class="container">
    <div class="navigation">
        <div id="menu1">
            <ul>
                @foreach (var item in category)
                {
                    <li> <a class="@(ViewBag.PageName==item.CategoryName ? "active" : "")" href="/Category/Product/@item.CategoryName"> @item.CategoryName </a> </li>
                }
            </ul>
        </div>
        <div class="search">
            <div class="input">
                <input type="text" placeholder="Search" name="Search" id="Search" value="" style="width:245px; padding:10px; margin:0;">
            </div>
            <div class="search-icon">
                <a id="SearchURL" href="" onclick="setSearchURL()" > <img src="~/images/search-icon.png" /> </a>
            </div>
        </div>
    </div>
</div>