﻿<div class="container">
    

    <div class="logo">
        <a href="/">  
            <img src="~/images/logo.png" /> </a>
    </div><!--#logo-->
    <div class="contact-right">

        @foreach (var item in BLL.Queries.TblSetting.GetById(1).Phones.Split(new string[] { "," }, StringSplitOptions.None))
        {
            <a> @item </a> <br />
        }
    </div>

    <div class="link">
        <ul>
            <li> <a href="/"> Home </a> </li>
            @foreach (var item in BLL.Queries.TblPageMaster.GetByOrder())
            {
                <li> <a href="/Pages/Page/@item.PageName"> @item.PageTitle </a> </li>
            }
        </ul>
    </div>
</div><!--#container-->