﻿<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hatia arms</title> 
    <link href="~/Content/webwidget_slideshow_dot.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
     
    <script src="~/Scripts/webwidget_slideshow_dot.js"></script>
    <script language="javascript" type="text/javascript">
            $(function() {
                $("#webwidget_slideshow_dot").webwidget_slideshow_dot({
                    slideshow_time_interval: '5000',
                    slideshow_window_width: '1140',
                    slideshow_window_height: '410',
                    soldeshow_foreColor: '#000',
                    directory: '/edit_media/2010/201006/20100611/dot/images/'
                });
            });
    </script>
</head>

<body>
    <header>
        @{Html.RenderPartial("_header");}
        </header>
    <nav>
        @{Html.RenderPartial("_Categoryheader");}
        </nav>
    @RenderBody()
    <footer>
        @{Html.RenderPartial("_footer");}
    </footer>
        @RenderSection("scripts", required: false)
</body>
</html>
