﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HatiaArms.</title>
    @Styles.Render("~/Content")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    @Scripts.Render("~/Scripts")
    @Scripts.Render("~/Scripts/app")


</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
               @* @{Html.RenderPartial("_header");}*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @*@{Html.RenderPartial("_footer");}*@
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>