﻿
@{
    // int pids = Convert.ToInt32(ViewData["pid"]);
    /*int id = 7;
    if (ViewBag.Id != null)
    {
        id = Convert.ToInt32(ViewBag.Id);
    }
    BLL.ModelViews.TblProduct.Extend product = BLL.Queries.TblProduct.GetById(id);
    var images = product.Images.Split(',');*/
}
<script>
    function setImageView(image)
    {
        $('#ProdImageView').attr('src', image.src);
    }
</script>
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="UserModalLabel">  WITHDRAWAL </h4>
        </div>

        <div class="modal-body">
            <div class="panel-container">
               <table width="100%" height="100%" cellpadding="10">
                   <tr>
                       <td width="65%" style="padding-right:10px;"> <img id="ProdImageView" width="100%" src="" alt="Image not Found" /></td> 
                       <td width="35%"> 
                            <h1 id="ProdName">  </h1> <br />
                            <p id="ProdLongDesc">  </p>
                       </td>
                   </tr>
                   <tr>
                       <td colspan="2"> 
                                <div id="ImageList"></div>
                       </td>
                   </tr>
               </table>
            </div>
        </div>
    @*
    <div class="modal-body">
        <div class="panel-container">
            <table width="100%" height="100%" cellpadding="10">
                <tr>
                    <td width="65%" style="padding-right:10px;"> <img id="ImageView" width="100%" src="@BLL.Tools.Constants.URLS.COMAPNY_IMAGE_PATH/Product/Original/@images[0]" /></td>
                    <td width="35%">
                        <h1> @product.Name </h1> <br />
                        <p>@product.LongDesc </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @foreach (var item in images)
                        {
                            <img onclick="setImageView(this)" width="10%" src="@BLL.Tools.Constants.URLS.COMAPNY_IMAGE_PATH/Product/Original/@item" alt="@item" />
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>*@
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
