﻿
@{
// int pids = Convert.ToInt32(ViewData["pid"]);
/*int id = 7;
if (ViewBag.Id != null)
{
    id = Convert.ToInt32(ViewBag.Id);
}
BLL.ModelViews.TblProduct.Extend product = BLL.Queries.TblProduct.GetById(id);
var images = product.Images.Split(',');*/
}
<link href="~/Content/star-rating.css" rel="stylesheet" />
<script src="~/Scripts/star-rating.js"></script>

<script>
    $(document).ready(function () {

        $("#Rate").on("rating.change", function (event, value, caption) {
            $.ajax({
                type: 'GET',
                url: "/Home/SiteRate/",
                data: { rate: value },
                dataType: "json",
                success: function (resultData) {
                    $('#UserModalwithdraw').modal('hide');
                    if (resultData == "false") {
                        alert("You can not Rate! \n Because You already Rated.");
                    }
                    else {
                        $('#UserModalwithdraw').modal('hide');
                    }
                },
                error: function (resultData) { alert("Fail Rating") }
            });
        });
    });
</script>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
            <h4 class="modal-title" id="UserModalLabel">  Please rate this </h4>
        </div>

        <div class="modal-body">
            <div class="panel-container">
                <input id="Rate" value="0" type="number" class="rating" data-symbol="*" min=0 max=5 step=0.1 data-size="xs">
            </div>
        </div>
        @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Later</button>
            </div>*@
    </div>
</div>