﻿<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="~/Scripts/jquery.bxSlider.js"></script>
<style>
    #slider {
        list-style: none;
        padding: 0px;
    }

    .slider-container {
        background: white;
        width: 100%;
        height: 250px;
        padding: 20px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }

    #slider img {
        width: 230px;
        height: 125px;
        margin: 0px;
        display: inline-block;
    }

    #slider li {
        width: 280px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#slider').bxSlider({
            ticker: true,
            tickerSpeed: 5000,
            tickerHover: true
        });
    });
</script>

<div class="container">
    <div class="slider-container">
        <ul id="slider">
            @foreach (var item in BLL.Queries.TblCompany.GetActive())
            {
                <li><a href="/Company/Product/@item.ID" target="_parent"><img src="@BLL.Tools.Constants.URLS.COMAPNY_IMAGE_PATH/CompanyLogo/Original/@item.Image"></a></li>
            }
        </ul>
    </div><!-- /slider -->
</div>